<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express Movies</title>
    <link rel="stylesheet" href="../public/style.css" />
</head>

<body>
    <h1>Express movies : le site pour les cinéphiles</h1>

    <div>
        Etes vous plutôt film ou series? Peu importe, vous trouverez votre bonheur dans les deux cas !
    </div>
</body>

</html>